PORT = 4000
NODE_ENV = DEVELOPMENT
DB_LOCAL_URI = mongodb+srv://username:password@cluster.mongodb.net/database?appName=Cluster0
JWT_SECRET = your-jwt-secret-key-here
JWT_EXPIRES_TIME = 90
FRONTEND_URL = http://localhost:3000

CLOUDINARY_CLOUD_NAME = your-cloud-name
CLOUDINARY_API_KEY = your-api-key
CLOUDINARY_API_SECRET = your-api-secret

EMAIL_USERNAME = your-email-username
EMAIL_PASSWORD = your-email-password
EMAIL_HOST = sandbox.smtp.mailtrap.io
EMAIL_PORT = 25
EMAIL_FROM = your-email@example.com

STRIPE_SECRET_KEY = sk_test_your_test_key_here
STRIPE_API_KEY = pk_test_your_test_key_here
