apiVersion: v1
kind: Config
clusters:
- cluster:
    server: https://${public_ip}:6443
    insecure-skip-tls-verify: true
  name: k3s-staging
contexts:
- context:
    cluster: k3s-staging
    user: ubuntu
  name: k3s-staging
current-context: k3s-staging
users:
- name: ubuntu
  user:
    client-certificate-data: ${client_cert}
    client-key-data: ${client_key}